.task-info {
  flex-grow: 1; /* Allow this div to take up available space */
}

.button-container {
  display: flex; /* Align buttons in a row */
  gap: 5px; /* Add space between buttons */
  margin-top: 10px; /* Space between task details and buttons */
}

h1 {
  color: white;
  background-color: green;
}

#photo-results img {
  max-width: 100px;
  height: auto;
  transition: transform 0.2s ease;
}

#photo-results img:hover {
  transform: scale(1.1);
}